@import './../../variables.scss';
<<<<<<< HEAD
.fluid-container {
    
    background-color: $pokedex-red;
    width: 100%;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border: solid black;
        
    h1 {
        text-align: center;
        color: white;
        margin: 1;
        height: 50%;
        margin-left: 25px;
        
        
        
=======
>>>>>>> 094d943d3cd369713f2a519db285c60937a12444

.fluid-container {
  background-color: $pokedex-red;
  width: 100%;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.genericlogo {
  height: 25px;
  width: 25px;
  margin-right: 25px;
}

.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    margin-left: 25px;
    
    text-align: center;
    color: white;
    height: 50%;
    &:hover {
        cursor: pointer;
    }
  }
}

.profile {
  display: flex;
  align-items: center;

  .links {
    height: 56px;
    align-items: center;
    display: flex;

    span {
      color: white;
      margin-right: 20px;
      height: 56px;
      padding-top: 15px;
    }

    span:hover {
      cursor: pointer
    }
  }
}
