@import './../../variables.scss';
.fluid-container {
    
    background-color: $pokedex-red;
    width: 100%;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border: solid black;
        
    h1 {
        text-align: center;
        color: white;
        margin: 1;
        height: 50%;
        margin-left: 25px;
        
        
        

    }
    h1:hover {
        cursor: pointer;
    }
    p {
        color: white;
    }
    p:hover {
        cursor: pointer;
    }

    img:hover {
        cursor: pointer;
    }
}


.genericlogo {
    height: 25px;
    width: 25px;
    margin-right: 25px;
}

.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}