@import './../../variables.scss';
.fluid-container {
    
    background-color:rgba(0, 68, 255, 0.932) ;
    width: 100%;
    height: auto;
    h1 {
        text-align: left;
        color:whitesmoke;
        margin: 0;
        height: 55%;
    }
    img{
        float: left;
        height: 48px;
        width: 3%;
    }
}

