<div class="fluid-container">
  <div class="top-container">
    <h1 [routerLink]="['/puppies']">Pupadex</h1>
    <div class="profile">
      <!-- <img *ngIf="signedIn" class="genericlogo" src="https://banner2.cleanpng.com/20180629/saw/kisspng-tennis-balls-computer-icons-russia-ball-5b366a40bf3205.4166799815302928007832.jpg" /> -->
      <div class="links" *ngIf="signedIn">
        <span [routerLink]="['/user']">{{nickname}}</span>
        <span (click)="logout()">Logout</span>

      </div>
      <div class="links" *ngIf="!signedIn">
        <span [routerLink]="['/sign-up']" >Sign Up</span>
        <span [routerLink]="['/sign-in']" >Sign In</span>
        <span (click)="signInModal = true">Sign In-modal</span>
        <app-form-modal [(openModal)]="signInModal" [data]="signInModalData" (saved)="modalSaved($event)"></app-form-modal>

      </div>
    </div>

  </div>

  
</div>
