<div class="profileheader">

</div>
<div class="profilecontainer" *ngIf="puppy !== null">
    
    <img class="dogprofilepic" src="{{puppy.image}}" alt="Doggo">
    <h1 class="center">{{puppy.name}}</h1>
    <p class= "center">{{puppy.breed}}, {{puppy.age}}</p>
    
    <p *ngIf="puppy.desc">
        {{puppy.desc}}
        <!-- This is Jeremy. Jeremy is a Bulldog. His grandmother says he's very handsome. His hobbies include playing chess, writing poetry, and shredding the gnar down at the local skatepark. He's a gemini, and enjoys white wine and long walks on the beach. -->
    </p>
</div>