
<ng-template #content let-modal>
    <div class="container">
        <div #inputcontainer [formGroup]="form">
            <!-- <div *ngFor="let input of data">
                <label >{{input.label}}</label>
                <input [type]="input.type" [formControlName]="input.label">
            </div> -->
            
        </div>

      <div class="button-container">
        <button (click)="closeWithData()" [disabled]="!form.valid">Save</button>
        <button (click)="cancel()">Cancel</button>
      </div>
    </div>
    
  </ng-template>
  