@import './../../variables.scss'; @import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';


.card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 1;
    }
    @include media-breakpoint-only(xl) {
      column-count: 3;
    }
  }
    .card {
        display: inline-block;
        background: $pokedex-blue;
        font-family: 'helvetica, sans-serif';
        background-size:cover;
        
    
        .card-title{
            font-family: 'helvetica, sans-serif';
            padding:15px;
            font-size:1.5em;
            border-radius: 50px;
            color:yellow;
        }
    
        width: 85%;
        height: 75%;
        margin-top:25px;
        margin-bottom:85px;
        margin-left: 25px;
        
    
        img {
            width: 100%;
            height: 100%;
            border-bottom-left-radius: 50px;
            border-bottom-right-radius: 50px;
            border: black 2px;
        }
    }
 