<div class="button-row" *ngIf="loggedIn()">
  <button [routerLink]="'/add-puppy'">Add Puppy</button>
</div>



<div class="row p-4 card-group">
  
  <div class="col-lg-4 col-md-6 col-sm-12 p-2" *ngFor="let puppy of puppies">
    <div class="card" (click)="profile(puppy)">
      <div class="card-body">
        <h3 class="card-title">{{puppy.name}}</h3>
      </div>
      <img class="card-img-bottom sizing" [src]="puppy.image" alt="Card image cap" height="100%" width="100%">
    </div>
  </div>
</div>
