
<div class=user-container>
    <form class ="my-form">
        <p>Please enter your login information</p>
        <ul>
        <li>    
            <label>Email</label>
            <input type ="text" name="Email">    
        </li>
        <li>
            <label>Password</label>
            <input type="text" name="Password">
        </li>    
            <li>
                <input class = "button" type = "submit" value = "submit" name = ""> 
            </li>
        </ul>
    </form>
</div>
