
<div class="main">


    <div class="card">
      <!-- <img src="https://i.kym-cdn.com/entries/icons/facebook/000/013/564/doge.jpg" class="card-img-top" alt="..."> -->
      <div class="card-body">
        <h5 class="card-title">Review Puppy</h5>
        <form #form >
          <div class="form-group">
            <label for="body">body</label>
            <textarea name="body" type="text" class="form-control" id="body" aria-describedby="bodyHelp" [(ngModel)]="newReview.body"></textarea>
          </div>
          
          
          <button type="button" class="btn btn-primary" (click)="addReview()">Submit</button>
        </form>
      </div>
    </div>
  </div>