
@import '~bootstrap/scss/bootstrap';
body {
    margin: 0;
    background: url(C:\Users\shawj\Frontend-practice\pupadex-frontend\src\assets\images\dogbackground.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
