$pokedex-red: #ff0000;
$pokedex-blue: #3b4cca;
$pokedex-yellow: #ffde00;

//@font-face {
    //font-family: 'pokemon-solid';
   // src: url('./assets/font/Pokemon Solid.ttf') format('truetype');
   // font-weight: normal;
    //font-style: normal;
//}