<p>Add your puppy here:</p>
<form>
    <div class="form-group">
        <label for="exampleinputname">Name</label>
        <input type="text" class="form-control" id="exampleinputname" placeholder="Enter pup's name here.">
    </div>
    <div class="form-group">
        <label for="exampleinputage">Age</label>
        <input type="text" class="form-control" id="exampleinputage" placeholder="Enter pup's age here.">
    </div>
    <div class="form-group">
        <label for="exampleinputbreed">Breed</label>
        <input type="text" class="form-control" id="exampleinputbreed" placeholder="Enter pup's Breed here.">
    </div>
    <div class="form-group">
        <label for="exampleinputimage">Image</label>
        <input type="text" class="form-control" id="exampleinputimage" placeholder="Enter a link to a pic of the pup here.">
    </div>
    <button type="submit" class="btn btn-primary">Click to Submit</button>
</form>