.center{text-align: center;}
.bodycontainer {
    background-color: grey; 
    border: solid 8px ivory;
    border-radius: 25px;
    margin: 32px;
    padding: 16px;
}
.doggoimg{
    height: 50%;
    width: 50%;
}

// h1 {
//     color: blue;
//     background-color: orchid;
// }

// p {
//     color: black;
//     height: 100vh;
//     // background-image: url(https://outwardhound.com/furtropolis/wp-content/uploads/2020/03/Doggo-Lingo-Post-768x402.jpg); 
// }