
<div class="main">


    <div class="card">
      <!-- <img src="https://i.kym-cdn.com/entries/icons/facebook/000/013/564/doge.jpg" class="card-img-top" alt="..."> -->
      <div class="card-body">
        <h5 class="card-title">Add New Puppy</h5>
        <form #form (keyup.enter)="addPuppy()">
          <div class="form-group">
            <label for="name">Name</label>
            <input name="name" type="text" class="form-control" id="name" aria-describedby="nameHelp" [(ngModel)]="newPuppy.name">
          </div>
          <div class="form-group">
            <label for="age">Age</label>
            <input name="age" type="text" class="form-control" id="age" aria-describedby="ageHelp" [(ngModel)]="newPuppy.age">
          </div>
          <div class="form-group">
            <label for="breed">Breed</label>
            <input name="breed" type="text" class="form-control" id="breed" aria-describedby="breedHelp" [(ngModel)]="newPuppy.breed">
          </div>
          <div class="form-group">
            <label for="image">Image</label>
            <input name="image" type="text" class="form-control" id="image" aria-describedby="imageHelp" [(ngModel)]="newPuppy.image">
          </div>
          
          <button type="submit" class="btn btn-primary" (click)="addPuppy()">Submit</button>
        </form>
      </div>
    </div>
  </div>